extends ../layout 

block content
  a(href='/bicicletas') volver

  <br>
  <br>
  <br>

  h1 Nueva Bicicletas

  <br>
  <br>
  form(action='color' method='post')
  label(for='id') ID:
  input#id(type='text' name='id')
  br
  label(for='color') Color:
  input#color(type='text' name='color' value=bici.color)
  br
  label(for='modelo') Modelo:
  input#modelo(type='text' name='modelo' value=bici.modelo)
  br
  label(for='lat') Latitud:
  input#lat(type='text' name='latitud' value=bici.ubicacion.lat)
  br
  label(for='lng') Longitud:
  input#lng(type='text' name='lgn' value=bici.ubicacion.lgn)
  br
  input.btn(type='submit' value='ok')
